*

!.gitignore
!go.mod
!go.sum
!Jenkinsfile
!main.go
!Makefile
!README.md

!cli/
!cli/**

!e2etests/
!e2etests/**

!impact/
!impact/**

!scripts/
!scripts/**

!test_resources/
!test_resources/**
test_resources/json-test-output.json

!testutils/
!testutils/**

!tfparse/
!tfparse/**

!trees/
!trees/**

!utils/
!utils/**
